@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Regular.eot');
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

body {
    font-family: 'JetBrainsMono'
}

input[type="button"] {
    background-color:#f5f5dc;
    color: #000000;
    font-family: 'JetBrainsMono';
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
}